.catlist-container {
    padding: 16px;
    margin-bottom: 60px;
}

.cartlist-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cartlist-header-text {
    font-family: PingFangSC-Semibold, PingFangSC-Semibold;
    font-weight: normal;
    font-size: 14px;
    color: #2B2B2B;
    font-style: normal;
    text-transform: none;
}

.cartlist-header-btn {
    width: 35px;
    height: 36px;
    background: #F5F5F5;
    border-radius: 5px;
    border: unset !important;
}

.cartlist-body {
    margin-top: 20px;
}

.cartlist-item {
    box-sizing: border-box;
    padding: 10px;
    background: #F5F5F5;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.cartlist-item-img {
    margin-left: 10px;
    min-width: 80px;
    width: 80px;
    height: 95px;
    background: #BDBDBD;
    border-radius: 5px;
}

.cartlist-item-title {
    font-family: PingFangSC-Medium, PingFangSC-Medium;
    font-weight: normal;
    font-size: 14px;
    color: #2B2B2B;
    text-align: left;
    font-style: normal;
    text-transform: none;
}

.cartlist-item-price {
    margin-top: 12px;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
}

.cartlist-item-btn {
    width: 72px;
    height: 20px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 11px;
    color: #FFFFFF;
    border: unset !important;
    background: #BDBDBD;
}

.cartlist-item-btn-active {
    background: linear-gradient(180deg, #FFBBA1 0%, #FF583C 100%);
}

.cartlist-item-btn-inactive {
    background: #BDBDBD;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    font-size: 12px;
}

.pagination li {
    margin: 0 2px;
}

.pagination li a,
.pagination li span {
    padding: 2px 6px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #FF5035;
    border-radius: 2px;
}

.pagination li.disabled span {
    color: #6c757d;
}

.pagination li.active span {
    background-color: #FF5035;
    color: white;
    border-color: #FF5035;
}

.cartlist-no-item {
    margin-top: 200px;
    position: relative;
}

.cartlist-no-item-text {
    font-family: PingFangSC-Regular, PingFangSC-Regular;
    font-weight: normal;
    font-size: 14px;
    color: #2B2B2B;
    text-align: center;
    font-style: normal;
    text-transform: none;
}

.cartlist-no-item-btn {
    margin-top: 50px;
    height: 50px;
    width: 100%;
    border: unset !important;
    background: #FF5035;
    border-radius: 10px;
    font-family: PingFangSC-Regular, PingFangSC-Regular;
    font-weight: normal;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    font-style: normal;
    text-transform: none;
}

.cartlist-item-timecount {
    width: 155px;
    height: 20px;
    background: linear-gradient(46deg, #F15238 0%, #FFAC92 100%);
    border-radius: 5px 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: PingFangSC-Medium, PingFangSC-Medium;
    font-weight: normal;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 18px;
    text-align: center;
    font-style: normal;
    text-transform: none;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}