.earning-header {
    background: linear-gradient(129deg, #FB7C4E 0%, #F2573A 100%);
    border-radius: 0px 0px 48px 48px;
    position: relative;
    height: 226px;
}

.earning-container {
    padding: 16px;
    position: absolute;
    top: 145px;
    width: 100%;
    box-sizing: border-box;
}

.earning-title {
    position: absolute;
    top: 20px;
    left: 10px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
}

.earning-log-container {
    min-height: 200px;
    margin-top: 16px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    padding: 12px;
}

.earning-log-item {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F5F5F5;
    padding-bottom: 8px;
}

.color-666666 {
    color: #666666;
}

.color-00FF33 {
    color: #00FF33;
}

/* pagination */

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    font-size: 12px;
}

.pagination li {
    margin: 0 2px;
}

.pagination li a,
.pagination li span {
    padding: 2px 6px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #FF5035;
    border-radius: 2px;
}

.pagination li.disabled span {
    color: #6c757d;
}

.pagination li.active span {
    background-color: #FF5035;
    color: white;
    border-color: #FF5035;
}

/* ===================== */