.my-container {
    background: linear-gradient(180deg, #FFEAEB 0%, #FFFFFF 100%);
    padding: 16px;
}

.my-container-header {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-account-balance {
    background: url(/public/img/组_64.png);
    background-size: 100% 100%;
    aspect-ratio: 4;
    height: 100%;
    margin-top: 24px;
    padding: 24px;
}

.my-order {
    margin-top: 24px;
}

.my-order-container {
    padding: 14px 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-other-functions {
    margin-top: 24px;
}

.level-position {
    position: absolute;
    top: 31px;
    left: 20px;
    text-wrap: nowrap;
    color: #203120;
    font-weight: bold;
}

.logout-btn {
    font-size: 16px;
    color: #FFFFFF;
    height: 40px;
    background: #FF5035;
    border-radius: 8px 8px 8px 8px;
    border: unset !important;
    width: 50%;
}

/* Modal Overlay */
.modal-overlay {
    max-width: 500px;
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    cursor: pointer;
}

/* Dialog Box */
.language-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    cursor: default;
    width: 280px;
    background: #FFFFFF;
    border-radius: 16px 16px 16px 16px;
    border: 1px solid #707070;
    padding: 16px;
}