.register-header {
    text-align: right;
    margin-right: -12px;
}

.register-container {
    padding: 12px 24px;
}

.register-title-1 {
    font-weight: normal;
    font-size: 24px;
    color: #FF5035;
    text-align: center;
    margin-top: 24px
}

.register-title-2 {
    font-family: PingFangSC-Regular, PingFangSC-Regular;
    font-weight: normal;
    font-size: 14px;
    color: #4F4F4F;
    line-height: 20px;
    text-align: center;
    font-style: normal;
    text-transform: none;
    margin-top: 8px;
}

.register-title-3 {
    margin-top: 128px;
    width: 162px;
    height: 32px;
    background: #FF5035;
    border-radius: 6px;
    font-family: PingFangSC-Regular, PingFangSC-Regular;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 33px;
    text-align: center;
    font-style: normal;
    text-transform: none;
}

.register-email-input-form {
    margin-top: 18px;
    height: 50px;
    background: #F5F5F5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0px 12px;
}

.register-email-input {
    height: 50px;
    width: 100%;
    background: #F5F5F5;
    border: unset !important;
    font-size: 16px;
    border-radius: 10px;
    padding: 0px 8px;
}

.register-code-input-form {
    margin-top: 18px;
    height: 50px;
    background: #F5F5F5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0px 12px;
}

.register-code-input {
    height: 50px;
    width: 100%;
    background: #F5F5F5;
    border: unset !important;
    font-size: 16px;
    border-radius: 10px;
    padding: 0px 8px;
}

.register-code-text {
    cursor: pointer;
    width: 250px;
    font-family: PingFangSC-Regular, PingFangSC-Regular;
    font-weight: normal;
    font-size: 14px;
    color: #A2A2A2;
    line-height: 28px;
    text-align: center;
    font-style: normal;
    text-transform: none;
}

.register-password-input-form {
    margin-top: 18px;
    height: 50px;
    background: #F5F5F5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0px 12px;
}

.register-password-input {
    height: 50px;
    width: 100%;
    background: #F5F5F5;
    border: unset !important;
    font-size: 16px;
    border-radius: 10px;
    padding: 0px 8px;
}

.register-remember-password-form {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.register-remember-me-text {
    font-family: PingFangSC-Regular, PingFangSC-Regular;
    font-weight: normal;
    font-size: 14px;
    color: #4F4F4F;
    line-height: 18px;
    text-align: left;
    font-style: normal;
    text-transform: none;
}

.register-referrer-input-form {
    margin-top: 18px;
    height: 50px;
    background: #F5F5F5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0px 12px;
}

.register-referrer-input {
    height: 50px;
    width: 100%;
    background: #F5F5F5;
    border: unset !important;
    font-size: 16px;
    border-radius: 10px;
    padding: 0px 8px;
}

.register-btn-form {
    margin-top: 32px;
}

.register-btn {
    font-family: PingFangSC-Regular, PingFangSC-Regular;
    font-weight: normal;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 18px;
    text-align: center;
    font-style: normal;
    text-transform: none;
    width: 100%;
    height: 50px;
    background: #FF5035;
    border-radius: 10px;
    border: unset !important;
}