.wallet-container {
    padding: 16px;
}

.wallet-header {
    font-family: PingFangSC-Semibold, PingFangSC-Semibold;
    font-size: 18px;
    font-weight: 600;
    color: #2B2B2B;
    text-align: left;
    font-style: normal;
    text-transform: none;
    border-bottom: 1px solid #E0E0E0;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
}

.wallet-balance {
    background: url(/public/img/组_64.png);
    background-size: 100% 100%;
    aspect-ratio: 3;
    height: 100%;
    padding: 24px;
}

.wallet-log-container {
    min-height: 200px;
    margin-top: 16px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    padding: 12px;
}

.wallet-log-item {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F5F5F5;
    padding-bottom: 8px;
}

.color-666666 {
    color: #666666;
}

.color-00FF33 {
    color: #00FF33;
}

/* Modal Overlay */
.modal-overlay {
    max-width: 500px;
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    cursor: pointer;
}

/* Dialog Box */
.wallet-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    cursor: default;
    width: 280px;
    /* height: 318px; */
    background: #FFFFFF;
    border-radius: 16px 16px 16px 16px;
    border: 1px solid #707070;
    padding: 16px;
}

.custom-modal button {
    margin-top: 15px;
    background-color: #26d28b;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.wallet-modal-item {
    width: 248px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #E6E6E6;
    color: #333333;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
}

/* pagination */

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    font-size: 12px;
}

.pagination li {
    margin: 0 2px;
}

.pagination li a,
.pagination li span {
    padding: 2px 6px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #FF5035;
    border-radius: 2px;
}

.pagination li.disabled span {
    color: #6c757d;
}

.pagination li.active span {
    background-color: #FF5035;
    color: white;
    border-color: #FF5035;
}

/* ===================== */