#app {
    height: 100vh;
    height: 100dvh;
    position: relative;
    overflow-x: hidden;
    max-width: 500px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    background: #fff;
}

body {
    margin: 0;
    font-family: var(--van-base-font);
    background: #f5f5f9;
    box-sizing: border-box;
}

.color-FF5035 {
    color: #FF5035 !important;
}

.bg-FF5035 {
    background: #FF5035 !important;
}

.color-white {
    color: #fff;
}

.font-bold {
    font-weight: bold;
}

.text-14 {
    font-size: 14px;
}

.text-16 {
    font-size: 16px;
}

.text-18 {
    font-size: 18px;
}

.text-12 {
    font-size: 12px;
}