<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="telephone=yes" name="format-detection" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <title>{:lang('我的')}</title>
    <link rel="stylesheet" href="/statics/css/global.css" />
    <link rel="stylesheet" href="/web/css/my.css" />
    <link rel="stylesheet" href="/static_new/css/public.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <script charset="utf-8" src="/static_new/js/jquery.min.js"></script>
    <script charset="utf-8" src="/static_new/js/dialog.min.js"></script>
    <script charset="utf-8" src="/static_new/js/common.js"></script>
</head>

<body>
    <div id="app">
        <div class="my-container">
            <div class="my-container-header">
                <div class="d-flex align-center">
                    <img src="{if $user.headpic}{$user.headpic}{else/}/web/img/USER_item.png{/if}" width="64"
                        height="64" style="border-radius: 32px;">
                    <div style="margin-left: 10px;">
                        <div class="text-18 font-800">{$user['username'] | default='Little bamboo shoots'}</div>
                        <div class="text-14 color-2B2B2B" style="margin-top: 4px;">{$user['tel'] |
                            default='15800000000'}</div>
                    </div>
                </div>
                <img src="/public/img/图层_832.png" />
            </div>
            <div class="my-account-balance">
                <div class="text-14 font-800 color-white">Account balance</div>
                <div class="text-32 font-800 color-white" style="margin-top: 12px;">{$user['balance']}</div>
            </div>
            <div class="my-order">
                <div class="text-16 font-800 color-2B2B2B">My order</div>
                <div class="my-order-container">
                    <a href="/index/order/order">
                        <div style="text-align: center;" class="cursor-pointer">
                            <img src="/public/img/组_20.png" />
                            <div class="text-14 color-2B2B2B">All</div>
                        </div>
                    </a>
                    <a href="/index/order/order?status=processing">
                        <div style="text-align: center;" class="cursor-pointer">
                            <img src="/public/img/组_24.png" />
                            <div class="text-14 color-2B2B2B">Under way</div>
                        </div>
                    </a>
                    <a href="/index/order/order?status=completed">
                        <div style="text-align: center;" class="cursor-pointer">
                            <img src="/public/img/组_25.png" />
                            <div class="text-14 color-2B2B2B">Received</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="my-other-functions">
                <div class="text-16 font-800 color-2B2B2B">Other functions</div>
                <div style="padding: 13px;" class="d-flex align-center justify-between">
                    <div style="text-align: center;" class="cursor-pointer">
                        <img src="/public/img/组_35.png" />
                        <div class="text-14 color-2B2B2B">Purse</div>
                    </div>
                    <a href="/index/my/wallet">
                        <div style="text-align: center;" class="cursor-pointer">
                            <img src="/public/img/组_36.png" />
                            <div class="text-14 color-2B2B2B">Wallet</div>
                        </div>
                    </a>
                    <a href="/index/my/delivery_address">
                        <div style="text-align: center;" class="cursor-pointer">
                            <img src="/public/img/组_37.png" />
                            <div class="text-14 color-2B2B2B">Delivery address</div>
                        </div>
                    </a>
                    <div style="text-align: center;" class="cursor-pointer">
                        <img src="/public/img/组_38.png" />
                        <div class="text-14 color-2B2B2B">My team</div>
                    </div>
                </div>
                <div style="padding: 13px;" class="d-flex align-center justify-between">
                    <div style="text-align: center;" class="cursor-pointer">
                        <img src="/public/img/组_45.png" />
                        <div class="text-14 color-2B2B2B">Invitation code</div>
                    </div>
                    <div style="text-align: center;" class="cursor-pointer">
                        <img src="/public/img/组_46.png" />
                        <div class="text-14 color-2B2B2B">Online customer service</div>
                    </div>
                    <a href="/index/my/personal_information">
                        <div style="text-align: center;" class="cursor-pointer">
                            <img src="/public/img/组_47.png" />
                            <div class="text-14 color-2B2B2B">Account setting</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {include file="public/floor" /}
    </div>
</body>
<script type="application/javascript">
</script>

</html>