<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="telephone=yes" name="format-detection" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <title></title>
    <link rel="stylesheet" href="/statics/css/global.css" />
    <link rel="stylesheet" href="/web/css/withdraw.css" />
    <link rel="stylesheet" href="/static_new/css/public.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <script charset="utf-8" src="/static_new/js/jquery.min.js"></script>
    <script charset="utf-8" src="/static_new/js/dialog.min.js"></script>
    <script charset="utf-8" src="/static_new/js/common.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
</head>

<body>
    <div id="app">
        <div class="withdraw-header">
            <i class="material-icons-outlined" style="margin-right: 10px; cursor: pointer;" onclick="goBack()">
                arrow_back
            </i>
            {:lang('withdraw')}
        </div>
        <div class="withdraw-body">
            <div class="withdraw-container">
                <div class="text-16 font-800 color-2B2B2B" style="margin-top: 14px;">{:lang('wallet_address')}</div>
                <div class="wallet-address-input-form">
                    <i class="material-icons-outlined" translate="no">
                        wallet
                    </i>
                    <input class="wallet-address-input" id="wallet_address" value="{$wallet_address}" type="text" placeholder="{:lang('enter_wallet_address')}" />
                </div>
                <div class="text-16 font-800 color-2B2B2B" style="margin-top: 14px;">{:lang('withdraw_amount')}</div>
                <div class="withdraw-amount-input-form">
                    <input class="withdraw-amount-input" id="withdraw_amount" type="text" placeholder="{:lang('enter_withdraw_amount')}" />
                </div>
            </div>
            <div style="margin-top: 24px;">
                <button class="submit-btn" id="submitOpenModal">{:lang('submit')}</button>
            </div>
        </div>
        <input type="hidden" value="{$type}" id="type"/>
        <!-- password Modal -->
        <div class="modal-overlay" id="modalOverlay">
            <div class="password-modal">
                <i class="material-icons-outlined" style="position: absolute; top: 6px; right: 6px; cursor: pointer;" id="closeModal" translate="no">close</i>
                <div class="payment-password-input-form">
                    <i class="material-icons-outlined" translate="no">payments</i>
                    <input class="payment-password-input" type="password" name="pwd2" placeholder="Payment password" />
                    <i class="material-icons-outlined payment-icon-eye" style="cursor: pointer;" translate="no">visibility</i>
                </div>
                <button class="confirm-btn-form" onclick="submitWithdraw()">{:lang('cofirm')}</button>
            </div>
        </div>
    </div>
</body>
<script type="application/javascript">
    var id = "";
    var interval;
    function goBack() {
        window.history.go(-1);
    }
    function submitWithdraw() {
        if (!$("#wallet_address").val().trim()) {
            $(document).dialog({infoText: "{:lang('input_wallet_address')}"});
            return;
        }
        if (!$("#withdraw_amount").val().trim()) {
            $(document).dialog({infoText: "{:lang('input_withdraw_amount')}"});
            return;
        }
        if (!$("input[name=pwd2]").val().trim()) {
            $(document).dialog({ infoText: "{:lang('input_payment_password')}" });
            return;
        }
        $.ajax({
            url: "/index/my/user_withdraw",
            type: "POST",
            dataType: "JSON",
            data: { type: $("#type").val(), withdraw_amount: $("#withdraw_amount").val(), address: $("#wallet_address").val(), pwd2: $("input[name=pwd2]").val()},
            success: function (res) {
                if (res.code == 0) {
                    $(document).dialog({ infoText: "{:lang('withdraw_review_text')}" });
                    id = res.id;
                    $("#modalOverlay").hide();
                    interval = setInterval(() => {
                        checkWithdraw();
                    }, 5000);
                } else {
                    $(document).dialog({ infoText: res.info });
                }
            },
            error: function (err) {
                $(document).dialog({ infoText: "{:lang('error')}" });
            }
        })
    }
    function checkWithdraw() {
        $.ajax({
            url: "/index/my/check_withdraw",
            type: "POST",
            dataType: "JSON",
            data: { id },
            success: function (res) {
                if (res.code == 0) {
                    $(document).dialog({ infoText: "{:lang('success')}" });
                    clearInterval(interval);
                    setTimeout(() => {
                        location.href = "{:url('my/wallet')}"
                    }, 6000);
                } else if(res.code == 1) {
                    $(document).dialog({ infoText: res.info });
                }
            },
            error: function (err) {
                $(document).dialog({ infoText: "{:lang('error')}" });
            }
        })
    }
    // jQuery logic to open and close the modal
    $(document).ready(function () {
        // Open the modal when the button is clicked
        $("#submitOpenModal").on("click", function () {
            $("#modalOverlay").show();
        });
        // Close the modal when the close button is clicked
        $("#closeModal").on("click", function () {
            $("#modalOverlay").hide();
        });
        // Close the modal when clicking outside the modal (on the overlay)
        $("#modalOverlay").on("click", function (event) {
            if ($(event.target).is("#modalOverlay")) { // Check if the click was on the overlay
                $(this).hide();
            }
        });
    });
    $(".payment-icon-eye").on('click', function () {
        var input = $("input[name=pwd2]");
        var icon = $(this);

        // Toggle the input type between password and text
        if (input.attr("type") === 'password') {
            input.attr('type', 'text');
            icon.text('visibility_off'); // Change the icon to "visibility_off"
        } else {
            input.attr('type', 'password');
            icon.text('visibility'); // Change the icon back to "visibility"
        }
    });
</script>

</html>