<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="telephone=yes" name="format-detection" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <title>{:lang('我的订单')}</title>
    <link rel="stylesheet" href="/statics/css/global.css" />
    <link rel="stylesheet" href="/web/css/order.css" />
    <link rel="stylesheet" href="/static_new/css/public.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <script charset="utf-8" src="/static_new/js/jquery.min.js"></script>
    <script charset="utf-8" src="/static_new/js/dialog.min.js"></script>
    <script charset="utf-8" src="/static_new/js/common.js"></script>
</head>

<body>
    <div id="app">
        <div class="order-header">My order</div>
        <div class="order-container">
            {if $list}
            {volist name='list' id='v'}
            {php}
            $status_text = '';
            if($v['status']==0) $status_text = 'Placed an order';
            if($v['status']==1) $status_text = 'Confirmed';
            if($v['status']==2) $status_text = 'Shipped';
            if($v['status']==3) $status_text = 'Rated';
            $settlement_value = round($v['goods_price'] * $v['goods_count'], 2);
            {/php}
            <a href="{:url('order/settlement_order_detail')}?oid={$v.id}">
                <div class="order-item">
                    <div class="order-item-title-container">
                        <div class="order-item-title">Product:
                            <span style="color: #333333;">
                                {php}
                                echo mb_strimwidth($v['goods_name'], 0, 25, '...');
                                {/php}
                            </span>
                        </div>
                        <div class="order-item-time">{$v['addtime']|format_datetime='Y-m-d H:i:s'}</div>
                    </div>
                    <div class="order-item-status-container">
                        <div class="order-item-status-text">
                            Order status:
                            <span
                                class="order-item-status {if condition='$v.status eq 0'}bg-2595e8{else /}bg-26d28b{/if}">{$status_text}</span>
                        </div>
                    </div>
                    <div class="order-settlement-container">
                        <div class="order-settlement-container-text">
                            Order settlement:
                            <span class="order-settlement-value">${$settlement_value}</span>
                        </div>
                        {if $v['status'] == 0}
                        <a href="{:url('order/settlement_order_detail')}?oid={$v.id}">
                            <button class="order-settlement-confirm">Confirm receipt</button>
                        </a>
                        {/if}
                    </div>
                </div>
            </a>
            {/volist}
            {else/}
            {/if}
            <!-- Display pagination links -->
            <div>
                {$pagination|raw}
            </div>
        </div>
        {include file="public/floor" /}
    </div>
</body>
<script type="application/javascript">
</script>

</html>