<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="telephone=yes" name="format-detection" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <title>{:lang('首页')}</title>
    <link rel="stylesheet" href="/statics/css/global.css" />
    <link rel="stylesheet" href="/web/css/cartlist.css" />
    <link rel="stylesheet" href="/static_new/css/public.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <script charset="utf-8" src="/static_new/js/jquery.min.js"></script>
    <script charset="utf-8" src="/static_new/js/dialog.min.js"></script>
    <script charset="utf-8" src="/static_new/js/common.js"></script>
</head>

<body>
    <div id="app">
        <div class="cartlist-container">
            <div class="cartlist-header">
                <div class="cartlist-header-text">Shopping cart</div>
                <button class="cartlist-header-btn">
                    <i class="material-icons-outlined color-FF5035">delete</i>
                </button>
            </div>
            <div class="cartlist-body">
                {if isset($noItemsMessage)}
                <div class="cartlist-no-item">
                    <div class="cartlist-no-item-text">{$noItemsMessage}</div>
                    <button class="cartlist-no-item-btn">Continue shopping</button>
                </div>
                {else}
                {volist name="cartlist" id="item"}
                {php}
                    $ulevel = db('xy_level')->where('level', 0)->find();
                    $commission = $item['goods_price'] * $ulevel['bili'];
                {/php}
                <div class="cartlist-item" onclick="itemActive('{$item.id}', '{$item.addtime}')">
                    <div class="cartlist-item-timecount display-none" id="cartlist-item-timecount-{$item.id}">
                    </div>
                    <i class="material-icons-outlined cartlist-item-radio-icon"
                        id="material-icons-outlined-{$item.id}">radio_button_checked</i>
                    {if $item.goods_pic}
                    <img class="cartlist-item-img" src="{$item.goods_pic}" />
                    {else}
                    <div class="cartlist-item-img"></div>
                    {/if}
                    <div style="margin-left: 10px; width: 100%;">
                        <div class="cartlist-item-title">{$item.goods_name}</div>
                        <div class="cartlist-item-price">
                            <div>${$commission}</div>
                            <button class="cartlist-item-btn" id="cartlist-item-btn-{$item.id}"
                                onclick="goToDetailPage('{$item.id}', '{$item.shop_name}')">Go to Result</button>
                        </div>
                    </div>
                </div>
                {/volist}
                {/if}
                <input type="hidden" id="username" value="{$user_name}" />
                <input type="hidden" id="pwd" value="{$original_pwd}" />
                <!-- Display pagination links -->
                <div>
                    {$pagination|raw}
                </div>
            </div>
        </div>
        {include file="public/floor" /}
    </div>
</body>
<script type="application/javascript">
    var selectedId = 0;
    var timerInterval;
    var countdownTime = 0;

    function updateTimer(id) {
        const hours = Math.floor(countdownTime / 3600);
        const minutes = Math.floor((countdownTime % 3600) / 60);
        const seconds = Math.floor(countdownTime % 60);

        $('#cartlist-item-timecount-' + id).text(`Distance from end ${String(hours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')}`);

        if (countdownTime <= 0) {
            clearInterval(timerInterval);
        } else {
            countdownTime--;
        }
    }

    function itemActive(id, addtime) {
        $('.cartlist-item-btn').removeClass('bg-FF5035');
        $('.cartlist-item-radio-icon').removeClass('color-FF5035');
        $('#cartlist-item-btn-' + id).addClass('bg-FF5035');
        $('#material-icons-outlined-' + id).addClass('color-FF5035');
        $('.cartlist-item-timecount').removeClass('display-block');
        $('.cartlist-item-timecount').addClass('display-none');
        $('#cartlist-item-timecount-' + id).removeClass('display-none');
        $('#cartlist-item-timecount-' + id).addClass('display-block');
        selectedId = id;
        countdownTime = 12 * 60 * 60 + Number(addtime); // Reset to 12 hours
        countdownTime = countdownTime - (Date.now() / 1000)
        if (countdownTime > 0) {
            clearInterval(timerInterval); // Clear any existing interval
            timerInterval = setInterval(() => updateTimer(id), 1000); // Start a new interval
            updateTimer(id); // Initial call to display the timer immediately
        }
    }

    function goToDetailPage(id, shop_name) {
        if (selectedId != id) return;
        $.ajax({
            url: "/index/order/create_settlement_order",
            type: "POST",
            dataType: "JSON",
            data: { goods_id: id },
            success: function (res) {
                console.log(shop_name, $('#username').val(), $('#pwd').val());
                window.open(`${shop_name}?user_name=${$('#username').val()}&pwd=${btoa($('#pwd').val())}`, '_blank');
            },
            error: function (err) {
            }
        })
    }

    // setInterval(() => {
    //     window.location.reload()
    // }, 10000)
</script>

</html>