<link href="/web/css/footer.css" rel="stylesheet" />
<div class="footer">
    <a href="/index/index/home">
        <div class="{if $select == 'home'}footer-active-item{/if} footer-item">
            <i class="{if $select == 'home'}material-icons{else}material-icons-outlined{/if}" translate="no">home</i>
            <div>{:lang('home_page')}</div>
        </div>
    </a>
    <a href="/index/shop/cartlist">
        <div class="{if $select == 'cart'}footer-active-item{/if} footer-item">
            <i class="{if $select == 'cart'}material-icons{else}material-icons-outlined{/if}" translate="no">shopping_cart</i>
            <div>{:lang('shopping_cart')}</div>
        </div>
    </a>
    <a href="/index/order/order">
        <div class="{if $select == 'order'}footer-active-item{/if} footer-item">
            <i class="{if $select == 'order'}material-icons{else}material-icons-outlined{/if}" translate="no">list_alt</i>
            <div>{:lang('order_for_goods')}</div>
        </div>
    </a>
    <a href="/index/my/index">
        <div class="{if $select == 'my'}footer-active-item{/if} footer-item">
            <i class="{if $select == 'my'}material-icons{else}material-icons-outlined{/if}" translate="no">person</i>
            <div>{:lang('personal_center')}</div>
        </div>
    </a>
</div>
<script>
    function updateactivetime() {
        var url = "{:url('user/updateactivetime')}";
        var isopenoline = 1;
        $.ajax({
            type: "POST",
            url: url,
            data: isopenoline,
            dataType: "json",
            success: function (result) {
                console.log(result);
                if (result.code == "0") {

                    alert(result.msg);
                }
            },
            error: function () {
                //alert();
            }
        });
    }
    updateactivetime();
    setInterval(updateactivetime, 1000 * 30);
</script>