<link href="/web/css/footer.css" rel="stylesheet" />
<div class="footer">
    <div class="{if $select == 'home'}footer-active-item{/if} footer-item">
        <i class="{if $select == 'home'}material-icons{else}material-icons-outlined{/if}">home</i>
        <div>{:lang('Home page')}</div>
    </div>
    <div class="{if $select == 'cart'}footer-active-item{/if} footer-item">
        <i class="{if $select == 'cart'}material-icons{else}material-icons-outlined{/if}">shopping_cart</i>
        <div>{:lang('Shopping cart')}</div>
    </div>
    <div class="{if $select == 'order'}footer-active-item{/if} footer-item">
        <i class="{if $select == 'order'}material-icons{else}material-icons-outlined{/if}">list_alt</i>
        <div>{:lang('Order for goods')}</div>
    </div>
    <div class="{if $select == 'my'}footer-active-item{/if} footer-item">
        <i class="{if $select == 'my'}material-icons{else}material-icons-outlined{/if}">person</i>
        <div>{:lang('Mine')}</div>
    </div>
</div>
<script>
    function updateactivetime() {
        var url = "{:url('user/updateactivetime')}";
        var isopenoline = 1;
        $.ajax({
            type: "POST",
            url: url,
            data: isopenoline,
            dataType: "json",
            success: function (result) {
                console.log(result);
                if (result.code == "0") {

                    alert(result.msg);
                }
            },
            error: function () {
                //alert();
            }
        });
    }
    updateactivetime();
    setInterval(updateactivetime, 1000 * 30);
</script>